*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin-top: 50px;
    display: flex;
}
.right-section{
    display: flex;
    border: 2px solid blue;
    width: 100vw;
    height: calc(100vh - 10vh - 50px);
}
.left-aside{
    display:flex;
    flex-flow:column;
    align-items: center ;
    justify-content: space-around;
    padding: .2em;
    width: 30vw;
    height:calc(100vh - 10vh - 50px);
    border: 2px solid green;
}
.left-aside__box{
    width: 25vw;
    height: 20vh;
    display: flex;
    border: 2px solid yellow;
}
footer{
    width: 100vw - 2px;
    height: 10vh;
    border: 2px solid red;
}